* {
  color: white;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #0a0a0a90;
}

/* index */
.carousel-inner {
  width: 100%;
  height: 30vh;
}

.carousel-inner img {
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo {
  width: 100px;
  margin: 20px;
}

h1 {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  font: weight 100px;
}

.iconos {
  width: 100%;
}

.iconos ul li {
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  letter-spacing: 1px;
}

.iconos ul li i a {
  display: inline-block;
  font-size: 25px;
  width: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 1px;
  padding-top: 40px;
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0a0a0a80;
}

.todo .nosotros {
  width: 50vw;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 30px;
}

.imagen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[3];
      grid-template-columns: repeat(3, 200px);
  -ms-grid-rows: 200px 200px 200px;
      grid-template-rows: 200px 200px 200px;
  grid-gap: 10px;
  padding: 30px;
}

.imagen .imgs {
  border: 3px solid white;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  width: 100%;
  position: absolute;
  background-color: black;
  margin-top: 60px;
  border: 1px solid black;
}

footer .pie {
  text-align: center;
}

footer .pie p {
  color: white;
}

footer .pie p a {
  font-size: 35px;
}

/* carta */
h2 {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
}

.cardMaster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cardMaster .card {
  background-color: #0a0a0a80;
}

.cardMaster .card .card-img-top {
  width: 100%;
}

.mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 90%;
  margin: 40px;
}

.mapa .mapaImagen {
  text-align: center;
}

.mapa .mapaImagen img {
  width: 55%;
  border: 1px solid white;
}

.mapa .mapaTexto {
  width: 45%;
}

.mapa .mapaTexto p {
  width: 60%;
}

.ubi {
  width: 100%;
  text-align: center;
}

/* pago */
.pagos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.pagos img {
  width: 60%;
}

.pagos .pagosQr {
  width: 25%;
  border: 1px solid black;
}

/* contacto */
.formulario {
  margin: auto;
  width: 50vw;
  background-color: #0a0a0a80;
  padding: 10px;
}

.formulario .enviar {
  text-align: center;
  padding: 10px;
}

.what {
  text-align: center;
}

.what img {
  width: 5%;
}

.reparto {
  text-align: center;
  margin-top: 20px;
}

.reparto img {
  width: 60%;
  height: 50vh;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .iconos {
    width: 100%;
  }
  .iconos ul li {
    letter-spacing: 4px;
  }
  .iconos ul li i a {
    letter-spacing: 8px;
    padding-top: 15px;
    font-size: 20px;
  }
  .todo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0a0a0a80;
    padding: auto;
    width: 100vw;
  }
  .todo .nosotros {
    width: 100vw;
    letter-spacing: 1px;
    font-size: 80%;
  }
  .imagen {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (150px)[2];
        grid-template-columns: repeat(2, 150px);
    -ms-grid-rows: (150px)[4];
        grid-template-rows: repeat(4, 150px);
    grid-gap: 5px;
  }
  .imagen .imgs {
    border: 3px solid white;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .logo {
    display: none;
  }
  h1 {
    font-size: 100%;
    text-align: center;
    line-height: 30px;
  }
  h2 {
    font-size: 90%;
    text-align: center;
    line-height: 30px;
  }
  h3 {
    font-size: 80%;
    text-align: center;
  }
  .pie {
    text-align: center;
  }
  .mapa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .mapa img {
    margin-left: auto;
    margin-right: auto;
  }
  .mapa .mapaTexto {
    width: 100%;
    margin: 10px;
  }
  .mapa .mapaTexto p {
    margin-left: auto;
    margin-right: auto;
  }
  .pagos {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .pagos img {
    width: 100%;
  }
  .pagos .pagosQr {
    width: 50%;
    border: 1px solid black;
  }
  footer {
    width: 100%;
    position: absolute;
  }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  .iconos {
    width: 100%;
  }
  .iconos ul li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
  }
  .iconos ul li i a {
    display: inline-block;
    font-size: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 140px;
  }
  .todo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0a0a0a80;
  }
  .todo .nosotros {
    width: 100%;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding: 30px;
  }
  .imagen {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (300px)[3];
        grid-template-columns: repeat(3, 300px);
    -ms-grid-rows: 300px 300px 300px;
        grid-template-rows: 300px 300px 300px;
    grid-gap: 10px;
    padding: 30px;
  }
  .imagen .imgs {
    border: 3px solid white;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .logo {
    display: none;
  }
  h1 {
    font-size: 170%;
  }
  h2 {
    font-size: 150%;
  }
  h3 {
    font-size: 125%;
  }
  p {
    font-size: 110%;
  }
  .mapa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .mapa img {
    margin-left: auto;
    margin-right: auto;
  }
  .mapa .mapaTexto {
    width: 100%;
    margin: 10px;
  }
  .mapa .mapaTexto p {
    margin-left: auto;
    margin-right: auto;
  }
  .pagos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .pagos img {
    width: 100%;
  }
  .pagos .pagosQr {
    width: 50%;
    border: 1px solid black;
  }
}
/*# sourceMappingURL=css.css.map */